<!DOCTYPE html>
<html lang="de-de">

<head>
    <title>Rumble in the Box - UI PoC</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <style>
        :root{
            --btn-color: lightgray;
        }
        html,
        body {
            margin: 0;
            padding: 0;
        }

        * {
            box-sizing: border-box;
            font-family: 'Roboto Mono', monospace;
        }

        h1.titel {
            text-align: center;
        }

        .btn {
            appearance: none;
            width: max-content;
            background-color: var(--btn-color);
            outline: none;
            border: 0;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
            padding: 0.5em 1em;
            cursor: pointer;
        }
        .btn:disabled {
            --btn-color: #ccc !important;
            pointer-events: unset;
            cursor: default;
        }
        #result {
            display: flex;
            flex-direction: column;
            padding: 0.5em;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1em;
            max-width: 768px;
            margin: 0 auto;
        }
        #result:has(.front) {
            flex-direction: row;
        }
        #result section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1em;
        }
        #result.htmx-swapping div,
        #result section.htmx-swapping div {
            opacity: 0;
            transition: opacity 0.5s ease-out;
        }

        .card {
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
            padding: 1em;
            background-color: white;
            max-width: 400px;
        }

        .card h3 {
            margin: 0;
        }

        input {
            width: 100%;
            padding: 0.5em 1em;
        }
        textarea {
            width: 100%;
            min-height: 150px;
            resize: none;
        }
        .hidden {
            display: none;
        }

        form#date-filter-form {
            display: flex;
            gap: 1em;
        }
        form#training-edit-form {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
        
    </style>
</head>

<body hx-ext="client-side-templates">
    <h1 class="titel">Rumble in the Box - UI PoC</h1>
    <section style="padding-left: 1em; padding-right: 1em;" hx-trigger="load"
        hx-get="http://localhost:3000/api/v1/trainings" hx-target="#result" mustache-template="uebersicht">
        <div id="result"></div>
        <template id="uebersicht">
            <form id="date-filter-form" novalidate hx-get="http://localhost:3000/api/v1/trainings" hx-target="#result" mustache-template="uebersicht">
                <input type="date" name="start" />
                <input type="date" name="end" />
                <button type="submit" class="btn" style="--btn-color: lightpink">Filter</button>
            </form>
            <h2 style="text-align: center;">Übersicht über alle angebotenen Schulungen</h2>
            <section class="trainings">
                {{#.}}
                <div class="card">
                    <h3>{{title}}</h3>
                    <p>mit {{teacher}}</p>
                    <p>{{description}}</p>
                    <p>Nächste Termine</p>
                    <ul>
                        {{#dates}}
                        <li>{{date | date}} ({{openSlots}} freie Plätze)</li>
                        {{/dates}}
                    </ul>
                    <p><em>{{price}} €</em></p>
                    <div class="buttons">
                        <button class="btn" style="--btn-color: lightblue" hx-get="http://localhost:3000/api/v1/trainings/{{guid}}" hx-target="#result" mustache-template="details">Öffnen</button>
                        <button class="btn" style="--btn-color: lightcoral" hx-swap="outerHTML swap:1s" hx-target="closest div.card" hx-confirm="Sicher?" hx-delete="http://localhost:3000/api/v1/trainings/{{guid}}">Löschen</button>
                    </div>
                </div>
                {{/.}}
            </section>
        </template>
        <template id="details">
            <button class="btn" hx-get="http://localhost:3000/api/v1/trainings" hx-target="#result" mustache-template="uebersicht">Zurueck</button>
            <div class="card">
                <div class="front">
                    <h3>{{title}}</h3>
                    <p>mit {{teacher}}</p>
                    <p>{{description}}</p>
                    <p>Nächste Termine</p>
                    <ul>
                        {{#dates}}
                        <li>{{date | date}} ({{openSlots}} freie Plätze)</li>
                        {{/dates}}
                    </ul>
                    <p><em>{{price}} €</em></p>
                    <div class="buttons">
                        <button class="btn" style="--btn-color: lightblue" onclick="toggleCard(true)">Bearbeiten</button>
                        <button class="btn" style="--btn-color: lightyellow" onclick="alert('Nicht implementiert')">Buchen</button>
                    </div>
                </div>
                <div class="back hidden">
                    <form id="training-edit-form" novalidate hx-put="http://localhost:3000/api/v1/trainings/{{guid}}" hx-target="#result" mustache-template="details">
                        <input type="hidden" value="{{guid}}" name="guid">
                        <div>
                            <label>Titel</label>
                            <input type="text" value="{{title}}" name="title">
                        </div>
                        <div>
                            <label>Dozent</label>
                            <input type="text" value="{{teacher}}" name="teacher">
                        </div>
                        <div>
                            <label>Beschreibung</label>
                            <textarea name="description">
                                {{description}}
                            </textarea>
                        </div>
                        <p>Nächste Termine</p>
                        <ul>
                            {{#dates}}
                            <li>{{date | date}} ({{openSlots}} freie Plätze)</li>
                            {{/dates}}
                        </ul>
                        <div>
                            <label>Preis</label>
                            <input type="number" value="{{price}}" name="price">
                        </div>
                        <div class="buttons">
                            <button class="btn" style="--btn-color: lightcoral" onclick="return toggleCard(false)">Abbrechen</button>
                            <button class="btn" style="--btn-color: lightblue" hx-on="click: toggleCard(false)">Speichern</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </template>
    </section>
    <script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <script src="https://unpkg.com/moment@latest"></script>
    <script src="js/vendor/mustache-wax.min.js"></script>
    <script>
        (()=>{
            Mustache.Formatters = {
                date: ( str) => moment(str).format('DD.MM.YYYY')
            };
        })();
        function toggleCard(toBackside){
            console.log('alskdf')
            if (toBackside){
                document.querySelector('.card .front').classList.add('hidden');
                document.querySelector('.card .back').classList.remove('hidden');
            } else {
                document.querySelector('.card .back').classList.add('hidden');
                document.querySelector('.card .front').classList.remove('hidden');
            }
            return false; // event prevent default
        }

    </script>
</body>

</html>